@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family:'Roboto', sans-serif;
  background: #ececec;
  /* line-height: 1.3; */
}

p {
  padding: 1rem 0;
}


/* Utility Class */
.xl-heading {
  font-size: 4.5rem;
}
.l-heading {
  font-size: 3rem;
}

.m-heading {
  font-size: 2rem;
}

.s-heading {
  font-size: 1.5rem;
}

.py-3 {
  padding: 3rem 0;
}
.py-2 {
  padding: 2rem 0;
}

.py-1 {
  padding: 1rem 0;
}

.text-primary {
  color: orangered;
}

.btn {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  padding: .75rem 1.75rem;
  background-image: linear-gradient(90deg, rgb(235, 172, 0), orangered);
  border-radius: .2rem;
}

.btn:hover {
  background-image: linear-gradient(90deg, orangered, rgb(235, 172, 0) );
}


.flex-container {
  display: flex;
}

.text-center {
  text-align: center;
}

/* Welcome Section */

#welcome {
  background: url(./img/top-bg.png) no-repeat;
  background-position: top left;
}

.welcome-text {
  padding: 6rem 2rem 1rem;
  width: 60%;
}

.welcome-text .introduction {
  padding: 3rem 0;
}
.welcome-text p {
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem 0;
  text-align: justify ;
}

.welcome-bg {
  background: url(./img/bg1.png) no-repeat;
  background-position: center;
  width: 40%;
}


/*  Aim section */

.aim-bg {
  width: 50%;
  /* background: url(img/rakib-bg.png) no-repeat center center/cover; */
}

.aim-text .aim-heading {
  padding: 3rem 0;
}

.aim-bg img {
  width: 100%;
}

.aim-text {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}

.aim-text p {
  font-weight: bold;
  margin: 2rem 0;
}

/* Experience Section */

#experience {
  padding: 1rem 2rem;
  background: url(./img/dream-bg.png) no-repeat;
  /* background: rgb(255, 255, 255); */
}

.experience-item {
  width: 50%;
  padding: 1rem;
  margin: 0 4rem 0 0;
  /* margin-left: 2rem; */
  box-shadow: 5px 7px 15px rgba(160, 160, 160, 0.3), 3px 5px 15px rgba(80, 80, 80, 0.5);
  background-color: rgba(255, 255, 255, 0.7);
}

#pro-developer {
  border-left: 40px solid;
  border-image: linear-gradient(180deg, orangered, rgb(235, 172, 0));
  border-image-slice: 10;
  border-top-right-radius: .5rem;
}

#learner {
  border-left: 40px solid;
  border-image: linear-gradient(180deg, orangered, rgb(235, 172, 0));
  border-image-slice: 10;
  border-top-right-radius: .5rem;
}

/* Skill Section */

#skill {
  padding: 2rem;
}


.skill-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.skill-item {
  padding: 3rem 1rem;
  flex: 1;
  text-align: center;
  box-shadow: 5px 7px 15px rgba(160, 160, 160, 0.3), 3px 5px 15px rgba(80, 80, 80, 0.5);
  border-image: linear-gradient(90deg, orangered, rgb(235, 172, 0));
  border-image-slice: 10;
  border-top: 20px solid;
  background-color: rgba(255, 255, 255, .7);
}

.skill-item img {
  width: 30%;
  margin-bottom: 1rem;
}

/* Footer Section */

footer p {
  color: dimgray;
  margin-top: 20px;
}
